/* Put document-specific style sheet here */
.book-cover-page h1 {
    font-size: 3em;
}

h2.title {
    font-weight: bolder;
    color: darkslateblue;
}

h2.title::before {
    display: inline-block;
    width: 5px;
    height: 15px;
    background-color: darkslateblue;
    content: '';
    margin-right: 8px;
}